@charset "utf-8";

html {font-size:16px;}
body.reser_style2 {background:#f4f6f8}
div {font-size:1em;}



/*헤더_메뉴*/
header {background:#2E3641; height:56px; border-bottom:1px solid #000 !important; min-width:1250px; box-shadow:-1px -0px 10px 0px #282f38 inset;}
header a {color:#fff;}
header .navbar {display:flex; max-width:1250px;}
header .navbar>li:first-child a {font-size:16px; min-width:68px; padding:0;}
header .navbar>li>a {display:block; position:relative; padding:0 15px; text-align:center; line-height:55px; color:#fff; letter-spacing:-.3px; font-weight:bold; font-size:14px; border-right:1px solid #000;}
header .navbar>li>a:hover {background-color:#3d444e;}
header .navbar>li>a img {position:absolute; right:15px; top:10px;}
header .navbar>li.on {background:#158fe7;}
header img {margin-left:3px; vertical-align:baseline;}

.main_nav {display:flex; justify-content:space-between; align-items:center;}

.navbar>li:hover .nav_sub {display:flex}
.nav_sub {display:flex; width:100%; background:rgba(0,0,0,0.8); padding:10px 0; position:absolute; top:55px; left:0; z-index:999; display:none;}
.nav_sub>li {width:232px; margin-left:10px;}
.nav_sub>li span {display:block; padding:8px 7px; background:url("../images/nad/sm_down.gif") no-repeat 95% center #222; font-size:11px; font-family:'NanumGothic'; color:#e9e9e9; font-size:12px; margin-bottom:5px; border:1px solid #111}
.nav_sub>li a {line-height:28px; font-size:13px; font-weight:normal;}
.nav_list li::before {content:""; clear:both; display:inline-block; width:2px; height:2px; background:#fff; vertical-align:middle; margin:0 5px;}
.nav_list li a:hover {text-decoration:underline !important;}

header .update {overflow:hidden; display:flex; align-items:center;}
header .update p {float:left; color:#fff; line-height:18px; font-weight:bold; font-size:14px; padding:0 10px; border-right:1px solid #000; border-left:1px solid #000; margin-right:15px;color:rgba(255,255,255,0.7) }
header .update p i {display:inline-block; margin-bottom:5px; margin-left:35px;font-size:10px; vertical-align:middle;}
header .update p span {font-size:12px;}
header .update ul {float:right; margin-right:20px; font-size:12px; height:40px !important; line-height:20px; }
header .update ul li {position:relative !important; }
header .update ul li a {display:inline-block; vertical-align:middle; width:250px; max-width:250px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; padding-left:10px}
header .update ul  li a:hover {text-decoration:underline !important}
header .update ul  li:before {position:absolute; top:12px; left:0; content:""; display:inline-block; width:2px; height:2px; background:#fff; margin-right:7px; vertical-align:middle;}

.util {display:flex;}
.util li a {margin:0 10px; font-size:12px; color:rgba(255,255,255,0.7)}
.util li a:hover {color:#167dda;}

/*wrap*/
.wrap {display:flex;background:#fff; min-width:1250px; }

/*관리자메인페이지*/
.admin_main {padding:8px; overflow:hidden;}
.admin_main .common_wrap {float:left; overflow:hidden;}
.admin_main .left_wrap {width:20%; /*min-width:290px;*/}
.admin_main .middle_wrap {width:36%; margin-left:10px; min-width:575px;}
.admin_main .right_wrap {width:15%; margin-left:10px; min-width:220px;}
.admin_main .main_commonbox {width:100%; float:left; border:1px solid #eee; margin-bottom:10px;}
.admin_main .main_commonbox h3 {padding:10px; overflow:hidden; font-size:14px; color:#333; width:100%; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee)); border:1px solid #d9d9d9; border-bottom:0;}
.admin_main .main_commonbox h3 span {color:#888; font-size:12px; font-weight:normal; margin-left:10px;}
.admin_main .main_commonbox h3 button {float:right; font-size:11px; color:#666; padding:2px; letter-spacing:-0.5px;}
.admin_main table.main_table {width:100%;border-collapse:collapse;}
.admin_main table th {background:#f6f6f6; padding:8px; border:1px solid #ddd;  font-weight:normal; color:#000;}
.admin_main table td {background:#fff; padding:8px;  border:1px solid #ddd; font-weight:normal; color:#555;}
.admin_main .tac {text-align:center;}
.admin_main .tal {text-align:left;}
.admin_main .tar {text-align:right;}
.admin_main .gray {color:#888;}
.admin_main .blue {color:#158fe7 ;}
.admin_main .red {color:#ea5d05;}
.admin_main ul.list {padding:0px 10px; border:1px solid #d9d9d9;}
.admin_main ul.list li {font-size:13px; margin:15px 0; color:#555}
.admin_main ul.list li i {color:#aaa; font-size:3px; margin-right:5px;}
.admin_main ul.list li a:hover {color:#158fe7; text-decoration:underline !important;}

.admin_main .service a {display:inline-block;}
.admin_main .service a::before {content:""; display:inline-block; width:1px; height:10px; background:#aaa; margin:0 5px;}
.admin_main .quick_m h3 button {border:1px solid #444; background:#666; color:#fff; border-radius:1px; }
.admin_main .inquiry span {font-size:11px; border-radius:2px; color:#fff; margin-right:5px; padding:2px; display:inline-block;}
.admin_main .inquiry span.deco_blue {background:#158fe7; border:1px solid #1278c2; }
.admin_main .inquiry span.deco_gray {background:#999; border:1px solid #777; }
.admin_main .site_statistics .week {overflow:hidden;}
.admin_main .site_statistics .week li {float:left; margin-right:10px; }
.admin_main .site_statistics .week li:first-child::before {content:""; display:inline-block; background:#ff5656; width:5px; height:5px; border:1px solid #c9d6df; margin-right:5px;}
.admin_main .site_statistics .week li:last-child::before {content:""; display:inline-block; background:#d1dde5; width:5px; height:5px; border:1px solid #c9d6df; margin-right:5px;}
.admin_main .site_statistics .Maratio {width:100%; height:175px; background:url("../images/nad/Mbg_ratio.gif") left center repeat;position:relative;margin:0 3px;padding-left:13px;}
.admin_main .page_view th:first-child {min-width:90px;}
.Maratio dl{float:left;display:inline-block;width:60px;height:147px;bottom:0px;position:relative; margin-right:20px}
.Maratio dl:last-child {margin-right:0;}
.Maratio dl span{position:absolute;bottom:-17px;display:inline-block;width:50px;text-align:center;color:#666;font:11px/115% 'dotum'; font-weight:bold;}
.Maratio dl ul{width:50px;position:absolute;left:0;bottom:0;overflow-y:hidden;}
.Maratio dl ul{display:block}
.Maratio dl ul li{float:left;position:relative;width:20px;height:125px;margin-right:4px;}
.Maratio dl ul li img{position:absolute;left:0;bottom:0;width:20px;vertical-align:top !important;}
.admin_main .solution a {margin-left:5px;}
.admin_main .mban {background:#f2f2f2; border:1px solid #d9d9d9}
.admin_main .mban a {display:block;}

/*left 네브*/
.left_nav {display:flex; flex-direction:column; width:78px; background:#E9F0F4; height:auto; border-right:1px solid #000;}
.left_nav>div {padding:12px 4px;}
.left_nav>div b {font-weight:bold; color:#444; font-size:12px}
.left_nav>div p {font-family:Arial !important; color:#8c8c8c; font-size:11px; margin-top:6px; letter-spacing:-0.3px;}
.left_nav>div button {color:#fff; width:100%; height:25px; line-height:25px; background:#9eb2c0; text-align:center; font-size:11px; margin-top:25px;}

.left_nav>dl {text-align:center; background:#9EB2C0; border-bottom:1px solid #000; padding-top:10px; position:relative; }
.left_nav>dl:last-of-type {background:#333f4f}
.left_nav>dl>dd{text-indent:-9999px; }

.left_nav dt.nav_quick dl {display:none; position:absolute; left:67px; top:0px; border:1px solid #000; background:#9EB2C0; z-index:999; padding:5px; min-width:150px; min-height:100px; height:auto; width:100%; text-align:left; font-size:11px}
.left_nav dt.nav_quick dl dt {border-bottom:1px dotted #fff; padding:8px 8px 8px 8px; color:#fff; font-weight:bold; cursor:default; font-size:13px;}
.left_nav dt.nav_quick dl dd {line-height:18px; margin:5px 5px 0 8px; width:clac(100% - 8px); display:flex; justify-content:space-between; }
.left_nav dt.nav_quick dl dd a {color:#fff; border:1px; text-indent:0; font-size:12px;}
.left_nav dt.nav_quick dl dd a:hover {text-decoration:underline !important;}
.left_nav dt.nav_quick dl::before {content:""; clear:both; display:inline-block; width:4px; height:7px; background:url("../images/comn/arr_p.gif") center center no-repeat; position:absolute; left:-7px; top:27px}

.left_nav>dl:hover dl {display:block;}

.left_menu_close.on {cursor:pointer; background:#333; color:#fff; background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2E3641, #203A43, #2E3641);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2E3641, #203A43, #2E3641); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.left_menu_close.on div { padding:20px 10px; font-weight:bold; text-align:center;}

.assi_left_nav {margin:10px 0}
.assi_left_nav li a {font-size:12px; padding:5px; line-height:20px; color:#444; letter-spacing:-1px;}


/*left 메뉴*/
.left_menu {background:#fff; position:relative; min-width:180px; border-right:1px solid #000;}
.left_menu>div {position:relative; padding:12px; height:70px;}
.left_menu h3 {font-size:17px;}
.left_menu h6 {font-size:12px; color:#8c8c8c; margin-top:5px; font-weight:normal;}
.left_menu button {position:absolute; right:10px; top:10px; text-indent:-9999px; background:url("../images/icon/icon_close6.gif") no-repeat right top; width:11px; height:11px;}
.left_menu>ul>li {background:url("../images/icon/icon_down_01.gif") no-repeat 95% 50% #158FE7; color:#fff; padding-left:12px; font-size:13px; font-weight:bold; height:30px; line-height:30px;}
.left_menu .menu_list {padding:10px;}
.left_menu .menu_list li {font-size:13px; line-height:26px; letter-spacing:-0.4px;}
.left_menu .menu_list li:before {content:""; display:inline-block; clear:both; width:2px; height:2px; background:#8c8c8c; margin-right:5px; vertical-align:middle;}
.left_menu .menu_list li a:hover {text-decoration:underline !important;}
.left_menu .menu_list li.on a {color:#158FE7; font-weight:bold; background:url("../images/comn/bul_16.gif") no-repeat right 6px; padding-right:7px;}



/**section 콘텐츠**/
/*공통*/
section {width:100%;}
div.titleB {display:flex; justify-content:space-between; align-items:center; position:relative; width:100%; background:#e9f0f4; height:35px; padding:0 13px;}
div.titleB h2 {font-weight:bold; font-size:16px;}
div.titleB ul {display:flex;}
div.titleB ul li {font-size:11px;}
div.titleB ul li a {font-size:11px;}
div.titleB ul li::before {content:">"; margin:0 4px;}
div.titleB ul li:first-child::before {content:""; display:inline-block; width:16px; height:13px; background:url("../images/ic/link.png") no-repeat left center; vertical-align:middle; margin-right:5px;}
div.titleB ul li:first-child {font-weight:bold;}
div.titleB ul li:last-child a {color:#158FE7}
div.titleB p {position:absolute; right:0; top:30px; font-size:11px; background:#f2f2f2; border:1px solid #d9d9d9;padding:3px; }
div.titleB p span {background:#fff; padding:8px 8px; display:block;}

.conbox {padding:0 13px 10px 13px;}
.conbox h6 {width:100%; border-bottom:2px solid #158fe7; font-size:14px; font-weight:bold; color:#000; margin-top:20px; padding:3px 0 4px 0px; font-family:'NanumGothic';}
.conbox h6 span {font-size:11px; font-weight:normal; color:#808080; font-family:'dotum'; vertical-align:middle;}
.conbox h6 span::before {content:""; display:inline-block; clear:both; width:1px; height:10px; background:#b5b5b5; vertical-align:middle; margin:0 7px; }
.conbox h6 span b {font-family:Arial; color:#158fe7; font-weight:bold;}
.conbox h6::before {content:""; display:inline-block; clear:both; width:5px; height:12px; vertical-align:middle; background:url("../images/comn/bul_10.png") center top no-repeat #158fe7; margin-right:3px; margin-bottom:1px;}
.conbox select {border:1px solid #d9d9d9; font-size:12px; height:30px; min-width:100px;}
.conbox select.select5 {width:5%; min-width:50px;}
.conbox select.select10 {width:10%; min-width:130px;}
.conbox table {width:100%;}
.conbox table th {background:#F0F6FA; border-bottom:1px solid #fff; font-weight:bold; letter-spacing:-0.3px; /*min-height:30px; */padding:10px 10px 10px 7px; vertical-align:middle; text-align:left; font-size:13px; line-height:18px;}
.conbox table td {padding:10px 10px; border-bottom:1px solid #E9F0F4; background:#fff; line-height:140%; vertical-align:middle;}
.conbox table td span {font-size:12px; color:#808080; padding-left:5px; /*vertical-align:middle;*/}
.conbox table td label {margin-right:10px;}
.conbox table td img {vertical-align:middle; margin:0 3px;}
.conbox table input {border:1px solid #d9d9d9; background:#fff; width:25%;  padding-left:5px;}
.conbox table input[type="text"],
.conbox table input[type="password"] {min-height:30px;}
.conbox table input[type="radio"] {width:13px; height:13px; margin:0 3px 3px 0;}
.conbox table input[type="checkbox"] {width:14px; height:14px; margin:0 3px 3px 0; text-align:center;}
.conbox table input[type="file"] {vertical-align:middle;}
.conbox table td ul.li_float {overflow:hidden; vertical-align:middle; display:flex; flex-wrap:wrap; align-items:center; }
.conbox table td ul.li_float li {float:left; margin-right:5px 2rem 5px 0; }
.conbox table td ul.class {display:inline-block; overflow:hidden; vertical-align:middle; }
.conbox table td ul.class li {float:left; margin-right:5px 2rem 5px 0; }
.conbox table td .input5 {width:5%; min-width:50px;}
.conbox table td .input10 {width:10%; min-width:130px;}
.conbox table td .input20 {width:20%; min-width:290px;}
.conbox table.bt {border-top:1px solid #E9F0F4;} /*테이블끼리 간격둘때*/
.conbox table .bl {border-left:1px solid #fff;} /*th끼리 나란히 둘때*/
.conbox table .no_list {height:80px; background:url("../images/comn/stlt.gif")center center no-repeat #fafafa; color:#66;} /*등록된내용이없습니다*/
.conbox table .add_list td {background:#F0F6FA;} /*리스트 추가*/
.conbox table .add_list2 td {background:#F9F9F9;} /*리스트 추가*/
.conbox table .tac button {margin:3px 0;} /*수정,삭제버튼*/
.conbox table .tac {text-align:center !important;} 
.conbox table .tal {text-align:left !important;;}
.conbox table .tar {text-align:right !important;;}
.conbox table .fwb {font-weight:bold;}
.conbox table .bg_blue {background:#F0F6FA !important;}
.conbox table tr.bg_blue td{background:#F0F6FA !important;}
.conbox table .bg_white { background:#fff; border-bottom:1px solid #E9F0F4; }
.conbox table .brs {border-right:1px solid #d9d9d9 !important;}
.conbox table a.blue_link {color:#167dda;}
.conbox table a.blue_link:hover {text-decoration:underline !important;}
.conbox textarea {border:1px solid #d9d9d9; text-align:left; font-size:13px; width:100%;}
.conbox .flex {display:flex;}
.conbox .blue {color:#158fe7 !important;}
.conbox .red {color:#ff0000 !important;}
.conbox .green {color:#4c992e !important;}
.conbox .orange {color:#ea6a04 !important;}
.conbox .white {color:#fff !important}
.conbox .blnew {color:#00c1ff !important;}
.conbox .orgnew {color:#ff7133 !important;}
.conbox .line-through {text-decoration:line-through;}
.conbox .ess {color:#f26118;} /*  *와같은 필수입력사항*/
.conbox .sequence a {color:#167dda;} /*순서▲▼*/
.conbox .sequence a:hover { text-decoration:none !important;}
.conbox .sequence2 a {color:#ff0000;}
.conbox .sequence2 a:hover { text-decoration:none !important;}


.conbox .table2 th {border:1px solid #c8c8c8;}
.conbox .table2 th.gray {background:#fbfbfb; color:#6a6b6d; padding:15px; border:1px solid #c8c8c8;}
.conbox .table2 td {border:1px solid #c8c8c8; color:#878a83; padding:15px;}

.conbox .table3 {border:1px solid #ddd;}
.conbox .table3 th {padding:5px; border:1px solid #ddd;}
.conbox .table3 td {padding:5px; border:1px solid #ddd;}
.conbox .table3 input {width:80%;}

.conbox .table4 {/*border-top:1px solid #158FE7 !important;*/ border-bottom:1px solid #d9d9d9; }
.conbox .table4 th {padding:10px 10px; background:#f2f2f2; border-bottom:1px solid #d9d9d9; border-right:1px solid #d9d9d9; text-align:center;}
.conbox .table4 th:last-child {border-right:0;}
.conbox .table4 td {padding:10px 10px; border-bottom:1px solid #d9d9d9; border-right:1px solid #d9d9d9;  }
.conbox .table4 td:last-child {border-right:0;}
.conbox .table4 input {width:100%;}
.conbox .table4 input[type="radio"] {margin:0}
.conbox .table4 input[type="checkbox"] {margin:0}
.conbox .table4 div {margin:3px 0;}
.conbox .table4 div button {padding:2px 3px; font-size:11px;}
.conbox .table4 ul {}
.conbox .table4 ul li {border-bottom:1px dotted #ddd; padding:3px 0; line-height:20px;}
.conbox .table4 ul li:last-child {border-bottom:0;}
.conbox .table4 a.blue:hover {text-decoration:underline !important;}
.conbox .table4 td span {font-size:inherit; color:inherit; padding-left:0}

.state {display:flex; clear:both;margin-top:15px;}
.state li {margin-right:10px; font-weight:bold;}
.state span {color:#fff; padding:1px 3px;}
.state span.col_red {background:#ea1f62; border:1px solid #b4184b;}
.state span.col_gray {background:#848484; border:1px solid #6a6262;}
.state span.col_green {background:#5eb917; border:1px solid #478c11;}
.state span.col_blue {background:#1656a5; border:1px solid #003886;}


.conbox table td ul.state {display:block; margin-top:10px;}
.conbox table td ul.state:first-child {margin-top:0;}
.conbox table td ul.state li {margin:0; font-size:11px; letter-spacing:-1px;}
.conbox table td ul.state li span {color:#fff; padding:1px 4px 1px 3px;}
.conbox table td ul.state li a:hover {text-decoration:underline !important;}


/*필요한 css적용*/
.bggray {background:#fafafa !important} /*회색배경*/

.conbox .table_in_table {border:1px solid #ddd; border-collapse:collapse; border-spacing:0; width:100%;} /*테이블안의테이블*/
.conbox .table_in_table th {background:#e2e9f6; border:1px solid #dadef8; padding:5px; margin-top:5px; font-weight:bold; border-bottom:none; text-align:center;}

ul.row_list li {margin-top:5px;} /*위아래간격조절*/
ul.row_list li:first-child {margin-top:0px;}

.s_btn {padding:1px 2px; font-size:11px;}


/*** 가이드 ***/
.guide_wrap {display:flex; overflow:hidden;}
.guide_menu {position: -webkit-sticky; position:fixed; float:left; width:320px; height:100%;}
.guide_menu h1 {width:120px; background:#001e36; color:#fff; text-align:center; padding:20px 10px; font-size:18px; font-weight:bold; border-bottom:1px solid #002c4f}
.guide_menu ul.menu_1d {width:120px; background:#002f55; height:100%;}
.guide_menu ul.menu_1d > li {  text-align:center;border-bottom:1px solid rgba(255,255,255,0.1); }
.guide_menu ul.menu_1d > li > span {display:block;  padding:20px 10px;color:#fff; font-size:14px; cursor:pointer;}
.guide_menu ul.menu_1d > li:hover {background:#003c6c}
.guide_menu ul.menu_1d > li.on {background:#fff; }
.guide_menu ul.menu_1d > li.on span {color:#158FE7; font-weight:bold;}
.guide_menu ul.menu_2d {position:absolute; top:0; left:120px; background:#fff; width:200px; height:100%; padding:20px 20px;border-right:1px solid #ddd;}
.guide_menu ul > li:nth-of-type(n+2) .menu_2d {display:none;}
.guide_menu ul.menu_2d li {border-bottom:1px dashed #eee; text-align:left;}
.guide_menu ul.menu_2d li:first-child {font-weight:bold; font-size:15px; border-bottom:2px solid #ddd; padding-bottom:20px; margin-bottom:5px; color:#333; text-align:left;}
.guide_menu ul.menu_2d li:first-child em {display:inline-block; width:11px; height:11px; border-radius:50px; vertical-align:middle; margin-right:5px;}
.guide_menu ul.menu_2d li a {display:block; padding:15px 10px; font-size:14px; color:#444;}
.guide_menu ul.menu_2d li a:hover {background:#f7f7f7;}



.guide_design {float:left; padding:20px 30px; margin-left:320px;}
.guide_design h1 {font-size:24px; margin-bottom:20px;}

.guide_design .box_wrap {margin-bottom:30px;}
.guide_design .box_wrap dl {overflow:hidden;}
.guide_design .box_wrap dl dt {float:left; color:#fff; padding:15px 20px; font-size:16px; font-weight:bold;}
.guide_design .box_wrap dl dd {float:right; color:#555; padding:15px 20px; font-size:13px; }
.guide_design .box_wrap .img_area {border:1px solid #ccc; background:#f1f2f4; padding:30px; text-align:center;}
.guide_design .box_wrap .img_area img {border:1px solid #ccc; text-align:center;}

.guide_wrap .col1 {background:#f75258;}
.guide_wrap .col2 {background:#19aae2;}
.guide_wrap .col3 {background:#f19149;}
.guide_wrap .col4 {background:#56cfca;}
.guide_wrap .col5 {background:#009944;}
.guide_wrap .col6 {background:#ff54c5;}
.guide_wrap .col7 {background:#86bfff;}
.guide_wrap .col8 {background:#8b5d15;}
.guide_wrap .col9 {background:#7bd506;}
.guide_wrap .col10 {background:#983cff;}
.guide_wrap .col11 {background:#274790;}

.guide_design .quick_box2 {position:relative;}

/*배너가이드*/
.guide_design_banner {padding:40px 30px; }
.guide_design_banner h1 {font-size:24px; margin-bottom:20px;}
.guide_design_banner .info_box {border:1px solid #ccc; border-radius:3px; width:100%; padding:15px 25px; background:#f8faff; margin-bottom:30px;}
.guide_design_banner .info_box li {font-size:13px; color:#333; line-height:26px;}
.guide_design_banner .quick_box {position: -webkit-sticky; position:sticky; top:0; border:2px solid #373d55; background:#fff; padding:10px 30px 10px; margin-bottom:20px; overflow:hidden;}
.guide_design_banner .quick_box li {float:left; margin:10px 30px 10px 0;}
.guide_design_banner .quick_box li dl {overflow:hidden;}
.guide_design_banner .quick_box li dt {float:left; font-size:15px; color:#333; font-weight:bold; margin-right:10px;}
.guide_design_banner .quick_box li dt a {font-size:15px; color:#333; text-decoration:underline !important; font-weight:bold;}
.guide_design_banner .quick_box li dt em {display:inline-block; width:11px; height:11px; border-radius:50px; vertical-align:middle; margin-right:5px;}
.guide_design_banner .quick_box li dd {float:left; font-size:14px; color:#555; margin:5px 10px 5px 0;;}
.guide_design_banner .quick_box li dd a {font-size:14px; color:#555; text-decoration:underline  !important;}
.guide_design_banner .box_wrap {margin-bottom:30px;}
.guide_design_banner .box_wrap dl {margin-bottom:10px; overflow:hidden;}
.guide_design_banner .box_wrap dl dt {float:left; color:#fff; padding:15px 20px; font-size:16px; font-weight:bold;}
.guide_design_banner .box_wrap dl dd {float:right; color:#555; padding:15px 20px; font-size:13px; }
.guide_design_banner .box_wrap .img_area {border:1px solid #ccc; background:#f1f2f4; padding:30px; text-align:center;}
.guide_design_banner .box_wrap .img_area img {border:1px solid #ccc; text-align:center;}

.guide_design_banner .col1 {background:#f75258;}
.guide_design_banner .col2 {background:#19aae2;}
.guide_design_banner .col3 {background:#f19149;}
.guide_design_banner .col4 {background:#56cfca;}
.guide_design_banner .col5 {background:#009944;}
.guide_design_banner .col6 {background:#ff54c5;}
.guide_design_banner .col7 {background:#86bfff;}
.guide_design_banner .col8 {background:#8b5d15;}
.guide_design_banner .col9 {background:#7bd506;}
.guide_design_banner .col10 {background:#983cff;}
.guide_design_banner .col11 {background:#274790;}


/*검색*/
.conbox .search {border:1px solid #66bfff; background:#d2e8f7; padding:3px; margin-top:10px;}
/*.conbox .search form {background:#fff; padding:7px; text-align:center;}*/
.conbox .search .bg_w {background:#fff; padding:7px; text-align:center;}
.conbox .search select {border:1px solid #d9d9d9; height:21px;}
.conbox .search input {border:1px solid #d9d9d9; background:#fff; height:21px; padding-left:5px; width:50%;}
.conbox .search input[type="submit"] {border:1px solid #158fe7; color:#fff !important; background:linear-gradient(to bottom,  #66bfff 0%,#0083e0 100%); width:auto; height:auto; font-weight:bold; padding:5px 7px; font-size:11px; letter-spacing:-1px;}
.conbox .search button {font-weight:bold; padding:5px 7px; font-size:11px; letter-spacing:-1px;}


/*보조리스트*/
.ass_list  {background:#D2E8F7; border:1px solid #66BFFF; padding:3px; margin-top:10px;}
.ass_list table th {background:#F0F6FA;}
.ass_list table th::before {content:""; display:inline-block; width:4px; height:7px; background:url("../images/comn/bul_08.png") center center no-repeat #158fe7; margin-right:5px;}
.ass_list table td {background:#fff;}
.ass_list table td ul {display:flex; flex-wrap:wrap;}
.ass_list table td ul li::after {content:""; display:inline-block; clear:both;  width:1px; height:8px; background:#b5b5b5; margin:0 8px;}
.ass_list table td ul li:last-child::after {display:none;}
.ass_list table td ul li a {color:#555; font-size:13px;}
.ass_list table td ul li.on a {color:#167dda; font-weight:bold;}
.ass_list table tr:last-child th {border-bottom:0}
.ass_list table tr:last-child td {border-bottom:0}
.ass_list input[type="radio"] {margin:0 3px 0 0 !important;}
.ass_list label {margin-right:0 !important;}

/*검색+보조리스트*/
.search.ass_list table tr td {border-bottom:1px solid #E9F0F4 !important}
.search.ass_list table tr:last-child td {border-bottom:0;}

/*가이드*/
.conbox .guide {border:3px solid #eee; padding:6px; margin-top:15px; display:flex;}
.conbox .guide p {display:flex; align-items:center; margin-right:10px;}
.conbox .guide ul {margin:5px 0;}
.conbox .guide ul li {line-height:18px; font-size:12px; color:#666;}


/*버튼*/
.conbox .table_top_btn {padding:5px 5px 5px 0px; border-bottom:1px solid #158FE7;}
.conbox .table_top_btn select {height:23px; font-size:11px;}
.conbox .table_top_btn button {padding:5px 5px; font-size:11px; letter-spacing:-1px;}
.conbox button.green {border:1px solid #0f8781; color:#fff !important; background:linear-gradient(to bottom,  #57c1bd 0%,#12a098 100%); }
.conbox button.d_blue {border:1px solid #0e7bc9; color:#fff !important; background:linear-gradient(to bottom,  #158de5 0%,#0f66a5 100%); }
.conbox button.gray {border:1px solid #ccc; color:#444; background:linear-gradient(#fff,#eee);}
.conbox button.gray2 {border:1px solid #dadada; color:#666; background:linear-gradient(#fff,#eee);}
.conbox button.blue {border:1px solid #158fe7; color:#fff !important; background:linear-gradient(to bottom,  #66bfff 0%,#0083e0 100%); }
.conbox button.black {border:1px solid #555; background:linear-gradient(to top,  #565656 0%,#8a8a8a 100%); color:#fff;}
.conbox button.red {border:1px solid #f5bb9e; background:linear-gradient(to top,  #fdfbf9 0%,#f7eae2 100%); color:#f26118;}
.conbox button.common {font-size:11px; letter-spacing:-1px; padding:1px 5px; color:#333; font-weight:700; margin:4px 0 !important;}
.conbox button i {vertical-align:middle; font-size:9px;}
.conbox .table_top_btn.bbn {border-bottom:0;}
.conbox button.modify_btn {border:1px solid #ccc;}
.searchbtn {width:120px; padding:3px 0; font-size:12px; font-weight:bold;} /*검색버튼*/
.basebtn {min-height:30px; padding:0 5px; border-radius:3px; font-size:12px;}
.s_basebtn {min-height:20px; padding:0 5px; border-radius:3px; font-size:11px;}
.s_basebtn2 {min-height:20px; padding:3px 5px; border-radius:3px; font-size:11px;}
.s_basebtn3 {min-height:20px; padding:3px 5px; font-size:11px;}
.s_basebtn4 {padding:1px 5px; font-size:11px; border-radius:2px; margin-left:10px;}

/*서브카테고리(하위게시판)*/
.sub_category {overflow:hidden; margin-top:20px; padding:5px 5px; border-top:1px solid #66bfff; border-bottom:1px solid #66bfff; background:#F0F6FA;}
.sub_category li {float:left; margin-right:5px;}
.sub_category li.on a {background:linear-gradient(to bottom,  #66bfff 0%,#0083e0 100%); color:#fff; border:1px solid #158fe7;}
.sub_category li a {display:inline-block; background:linear-gradient(#fff,#f5f5f5); color:#333; padding:5px 7px; font-size:12px; border:1px solid #ccc;}

/*단계별 카테고리 박스*/
.category_wrap {display:flex; margin-top:10px; flex-wrap:wrap;}
.category_wrap .category {border:1px solid #a6d4f4;background:#F0F6FA; padding:5px; width:32%; margin-bottom:15px;}
.category_wrap .category table {border:1px solid #d9d9d9;}
.category_wrap .category table th:nth-child(1) {width:30px;}
.category_wrap .category table th:nth-child(2) {width:40px;}
.category_wrap .category table th:nth-child(4) {width:90px;}
.category_wrap .category_area {background:#fff; padding:5px;}
.category_wrap .category_area h3 {font-size:14px; text-align:center; padding:5px 0 10px 0; color:#444;}
.category_wrap .category .button_area {margin-top:10px; overflow:hidden;}
.category_wrap .category .button_area ul {overflow:hidden; float:left;}
.category_wrap .category .button_area ul li {float:left;}
.category_wrap .category .button_area button {height:23px; padding:2px 5px; font-size:12px; margin-right:3px;}
.category_wrap .category .button_area button.orange {border:1px solid #f6c1a6; background:#f6e1d3;}
.category_wrap .category .button_area button.blue_base {border:1px solid #a6d4f4; background:#f0f6fa; color:#158fe7 }
.category_wrap .category .button_area>button {float:right;}
.category_wrap .category tr.on td {background:#eee}
.category_wrap em {color:#158fe7; padding:5px; display:flex;  align-items:center;;}

/*상세검색버튼*/
.search button.black.day {padding:2px 5px 1px 5px; font-weight:normal; margin:0 2px;}

/*저장/취소버튼*/
.conbox .flex_btn {display:flex; justify-content:center; margin:20px auto;}
.conbox .flex_btn button {margin:0 10px; display:flex; justify-content:center; align-items:center; border-radius:3px;  color:#fff; font-size:13px; font-weight:bold; width:120px; height:35px; text-align:center; text-shadow:0px 0px 2px rgba(0,0,0,1)}
button.save_btn {border:1px solid #1873B5; background:#158fe7;box-shadow:-0px 5px 7px 0px #5ab0ee inset; }
button.save_btn2 {border:1px solid #1873B5; background:#fff; color:#158fe7 !important; text-shadow:none !important}
button.cancel_btn {border:1px solid #5c5c5c; background:linear-gradient(to top,  #343434 0%,#989898 100%);}
button.red_btn {border:1px solid #c83926; background:#ee4d25; box-shadow:-0px 5px 7px 0px #f37c74 inset; }

/*h6 우측상단 버튼 있을시 사용*/
.conbox .h6wrap {position:relative;}
.conbox .h6wrap button {position:absolute; right:0; top:0;}
.conbox .h6wrap button.orange {border:1px solid #E34603; background:linear-gradient(#F08A07,#E65103); font-size:11px; font-weight:bold; text-shadow:0px 0px 2px #E34603; text-align:center; color:#fff; letter-spacing:-0.5px; padding:3px 6px;}
.conbox .h6wrap button.close {background:#158fe7; color:#fff; letter-spacing:-1px; font-size:11px; border-radius:0px 0px 50px 50px; width:55px; height:30px; margin-top:-20px; text-shadow:0px 0px 2px rgba(0,0,0,1)}

/*h6 우측상단 인풋, 셀렉트시 사용*/
.conbox h6 {overflow:hidden;}
.conbox h6 .h6_right {float:right; font-weight:normal;}
.conbox h6 .h6_right select {height:20px; margin-left:10px; border:1px solid #ccc}
.conbox h6 .h6_right label {font-size:12px;  letter-spacing:-0.5px;}
.conbox h6 .h6_right input {margin-right:5px; }

/*환경설정>sms(문자)설정*/
.sms table td input[type="text"],
.sms table td input[type="password"]{width:300px;}
.sms table td button {border:1px solid #ccc; color:#167dda; border-radius:3px; box-shadow:0px -5px 10px 0px #eee inset; font-size:11px; padding:1px 3px 0px 3px; margin-left:5px; box-shadow:1px 1px 0px 0px #aaa; background:linear-gradient(#fff,#f8f8f8)}
.sms table th ul {padding:3px 10px;}
.sms table th ul li {font-weight:normal; padding:3px 0; font-size:13px; line-height:16px;}
.sms table th ul li span {text-decoration:underline;}

.message_con {display:flex; flex-wrap:wrap;}
.message {display:flex; flex-wrap:wrap; justify-content:space-between; border:1px solid #d9d9d9; padding:4px; width:24.8%; margin-top:5px; margin-right:4px;}
.message:nth-child(4n) {margin-right:0;}
.message label {vertical-align:middle; margin:3px;}
.message input {margin-right:5px; vertical-align:top !important;}
.message h1 {border-bottom:1px solid #d9d9d9; padding:7px 3px; font-size:13px; width:100%}
.message>div {border:1px solid #d9d9d9; padding:3px; margin-top:3px; width:49.5%;}
.message>div>p {padding:3px 0;}
.message>div>div {border:1px solid #d2e8f7; padding:3px; margin:3px;}
.message>div>div h2 {font-size:13px; text-align:center; padding:3px 0;}
.message>div>div span {font-size:11px; font-family:Verdana; display:block; text-align:center; padding:3px 0;}
.message>div>div span strong {color:#e82626;}
.message>div>div>p {border:1px solid #d9d9d9; padding:3px; margin:3px; background:url("../images/comn/sms.gif") #fff left top no-repeat}
.message textarea {margin-top:18px; font-size:12px; width:100%; height:158px; line-height:16px; padding:5px;}
.message.msgbg {background:#F0F0F0}

/*예약관리>sms보내기*/
.layer_sns_pop {display:flex;}
.layer_sns_pop .sms_sed1 {float:left; margin-right:10px; margin-top:30px; width:235px;}
.layer_sns_pop .sms_sed2 {float:right; width:100%;}
.layer_sns_pop .sms_sed2 ul li {line-height:20px;}

/* sms ============================================================================================================================================*/
.conbox table.sms2 td {border-bottom:0; line-height:auto;}
.conbox table.sms2 td:first-child {padding-bottom:0;}
.conbox table.sms2 td:last-child {padding-top:0;}
.sms2{background:url("../images/nad/sms_02.gif")center center repeat-y;width:190px}
.sms2 .contxt{background:url("../images/nad/sms_03.gif") no-repeat bottom;padding:0 22px 24px;vertical-align:top;text-align:center;font-family:tahoma;font-size:10px;}
.sms2 .contxt dt{font-size:10px;font-family:tahoma;}
.sms2 .contxt textarea{margin-top:3px;width:90%;height:90px;}
.sms2 .connum{background:url("../images/nad/sms_04.gif")center center repeat-y;padding:0 20px;text-align:center;font-size:11px;color:#fff}
.sms2 .connum textarea{padding:3px;width:89%;height:42px;overflow-y:scroll;font:11px/130% 'dotum';color:#fff;background:#333;}
.sms2 .connum strong{text-align:left;display:inline-block;width:95%; text-align:center; padding-bottom:5px;}
.sms2 .connum dl{background:#6c6c6c;padding:4px 0 2px;font-size:11px;font-weight:bold;letter-spacing:-1px;color:#fff}

/*회원관리>정기메일링 LMS*/
.lms_con {display:flex; flex-wrap:wrap;}
.lms_con .lms {border:1px solid #d9d9d9; padding:4px; margin-right:1.5%; margin-top:.5%; width:19%;}
.lms_con .lms:last-child {margin-right:0}
.lms_con .lms h1 {text-align:center; font-size:13px; vertical-align:center; line-height:35px;}
.lms_con .lms h1 span {color:#158fe7}
.lms_con .lms h1 input {margin:0 5px 3px 0; height:13px; width:13px; vertical-align:middle;}
.lms_con .lms>div {background:url("../images/comn/sms.gif") #fff center top no-repeat; border:1px solid #d9d9d9; padding:15px 5px 5px 5px;}
.lms_con .lms textarea {height:180px; line-height:16px; padding:5px; font-size:12px; width:100%; text-align:left; }

/*서비스관리 > 전체 채용공고 관리*/
.table4 td.job_info a {color:#167dda}
.table4 td.job_service_list {color:#333;}
.table4 td.job_service_list span {display:inline-block; width:150px;}
.table4 td span.gray {color:#aaa;}

/*서비스관리> 채용공고 등록 및 수정*/
.employ_modify p.logo_img {position:relative; width:200px; height:60px; border:1px solid #eaeaea; background:#f6f6f6 url("../images/no_imgicon.png") center center no-repeat; background-size:contain; margin-top:5px;}
.employ_modify p.bglogo_img {position:relative; width:200px; height:84px; border:1px solid #eaeaea; background:#f6f6f6 url("../images/no_imgicon.png") center center no-repeat; background-size:contain; margin-top:5px;}
.employ_modify select {width:120px;}

.employ_modify .img_box ul {overflow:hidden;width:100%; padding-top:1rem; border-top:1px solid #d5d5d5; margin-top:1rem;}
.employ_modify .img_box ul li {float:left; position:relative; width:23.5%; height:14rem; border:1px solid #d5d5d5; margin-right:2%; background:#f6f6f6 url("../images/no_imgicon.png"); background-position:center center; background-repeat:no-repeat; background-size:contain;}
.employ_modify .img_box ul li:last-child {margin-right:0}
.employ_modify .img_box ul li span {position:absolute; top:0; right:0; display:inline-block; background:rgba(0,0,0,0.5);}
.employ_modify .img_box ul li span a {display:block; width:2.5rem; height:2.5rem; text-align:center; }
.employ_modify .img_box ul li span i {color:#fff; font-size:1.8rem; line-height:2.5rem;}
.employ_modify .img_box .common_box {border:1px solid #d5d5d5;}
.employ_modify .keyword .tema {border:1px solid #ddd; padding:.5rem; background:#F0F6FA;}

.employ_modify p.company_img {position:relative; display:inline-block; width:200px; height:112px;  border:1px solid #eaeaea; background:#f6f6f6 url("../images/no_imgicon.png") center center no-repeat; background-size:contain; margin-top:5px;}
.employ_modify p.img span {position:absolute; top:0; right:0; display:inline-block; background:rgba(0,0,0,0.5); padding-left:0;}
.employ_modify p.img span a {display:block; width:20px; height:20px; text-align:center;}
.employ_modify p.img span i {color:#fff; font-size:15px; line-height:20px;}
.employ_modify .map {border:1px solid #ddd; max-width:500px; max-height:350px; margin-top:10px;}
.employ_modify .tema {height:150px; overflow-y:scroll;}
.employ_modify .click-skin- {padding:10px; margin-bottom:1rem; border:1px solid #d5d5d5;}
.employ_modify .click-skin- ul {overflow:hidden;}
.employ_modify .click-skin- ul li {float:left; margin-right:15px; max-width:150px; border:1px solid #d5d5d5;}
.employ_modify .click-skin- ul li.on {border:3px solid #0e8ee8;}
.employ_modify .click-skin- ul li a {display:block; padding:10px;}
.employ_modify .click-skin- ul li img {width:100%; display:block; margin:0;}
.employ_modify .calling li {border:1px solid #ddd; padding:5px; border-bottom:0;}
.employ_modify .calling li:last-child {border-bottom:1px solid #ddd;}
.employ_modify .calling li a {display:block; padding:3px;}
.employ_modify .calling li a:hover {background:#f5f5f5;}

.employ_modify .title {width:100%; overflow:hidden;}
.employ_modify .title input[type="text"] {width:100%;}
.employ_modify .side_con {display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between;  position:relative;}
.employ_modify .side_con .h_right {position:absolute; right:0; top:10px; float:right; width:20%; margin:0; text-align:right;}
.employ_modify .side_con .h_right  button {position:absolute; right:0; top:0px; float:right; width:200px; margin:0;}
.employ_modify table th i {display:none;}
.employ_modify .side_con .h_right select {display:none;}


/*서비스관리-서비스적용*/
p.title {display:inline;}
p.title.bgcol1 {background:#ffe87e;} /*타이틀bg*/
p.title.bgcol2 {background:#d0f2ff;}
p.title.bgcol3 {background:#efdaff;}
p.title.bgcol4 {background:#b4c7ff;}
p.title.bgcol5 {background:#ffa9ab;}
p.title.bgcol6 {background:#d0ffaa;}
p.title.bgcol7 {background:#ff95fb;}
p.title.bgcol8 {background:#2fffd5;}
p.title.bgcol9 {background:#1eecff;}
p.title.tcol1 {color:#0e71ec !important;} /*타이틀컬러*/
p.title.tcol2 {color:#f63508 !important}
p.title.tcol3 {color:#0a9b1e !important}
p.title.tcol4 {color:#992cec !important}
p.title.tcol5 {color:#f660e3 !important}
p.title.tcol6 {color:#9b3406 !important}
p.title.tcol7 {color:#ff620c !important}
p.title.tcol8 {color:#f6bb09 !important}
p.title.tcol9 {color:#0ec098 !important}

/*채용스킨*/
.e_skincommon {border:1px solid #d5d5d5; width:990px; margin:0 auto;}
.e_skincommon .top_img {position:relative; overflow:hidden;}
.e_skincommon .top_img>div {display:flex; flex-wrap:wrap; justify-content:center; align-items:center; padding:10% 0; background-position:center center; background-repeat:no-repeat; }
.e_skincommon .text_wrap {padding:30px 20px;}
.e_skincommon .text_wrap p {font-size:16px; color:#111; line-height:18px;}
.e_skincommon .top_img h3 {font-size:40px; line-height:50px; font-weight:700; color:#fff; text-align:center; padding:0 50px;}
.e_skincommon .text_wrap h4 {font-size:26px; color:#111111; font-weight:500; margin:50px 0 20px 0;}
.e_skincommon table {width:100%; border:1px solid #d5d5d5;}
.e_skincommon table th {width:20%; background:#ebebeb; font-size:18px; line-height:22px; font-weight:500; color:#111111; background:#ebebeb; padding:30px;}
.e_skincommon table td {width:80%; padding:30px;}
.e_skincommon dl:first-child {margin-top:0}
.e_skincommon dl {margin-top:30px;}
.e_skincommon dl dt {font-size:18px; color:#111111; font-weight:500; margin-bottom:12px;}
.e_skincommon dl dt::before {content:"▣ "}
.e_skincommon dl dd {margin:5px 0;}
.e_skincommon dl dd {font-size:16px; color:#333333; line-height:20px;}
.e_skincommon dl dd::before {content:"- "}
.e_skincommon ul li {font-size:16px; color:#333333; line-height:20px; margin:5px 0;}
.e_skincommon ul li::before {content:"- "}

.employ_skin1 .top_img>div {background:url("../images/employ_skin1.png");  background-repeat:no-repeat;  background-size:cover;}
.employ_skin1 .text_wrap h4::before {content:""; display:inline-block; border:6px solid #0a7bdb; width:12px; height:12px; border-radius:30px; margin-right:10px; vertical-align:bottom;}

.employ_skin2 .top_img>div {background:url("../images/employ_skin2.png");  background-repeat:no-repeat;background-size:cover;}
.employ_skin2 .top_img h3 {text-align:left;padding:0 50px;}
.employ_skin2 .top_img h2 {width:100%; font-size:30px; color:#fff; margin-bottom:10px;padding:0 50px; }
.employ_skin2 .text_wrap h4::before {content:""; display:inline-block; background:#0a7bdb; width:6px; height:24px;  margin-right:10px; vertical-align:bottom;}

.employ_skin3 .top_img>div {background:url("../images/employ_skin3.png"); background-repeat:no-repeat; background-size:cover;}
.employ_skin3 .top_img h3 {text-align:left;padding:0 50px; color:#111;}
.employ_skin3 .top_img h2 {width:100%; font-size:30px; color:#222; margin-bottom:10px;padding:0 50px;}
.employ_skin3 .text_wrap h4::before {content:""; display:inline-block; background:#0a7bdb; width:6px; height:24px;  margin-right:10px; vertical-align:bottom;}


/*서비스관리> 이력서 등록 및 수정*/
.resume_modify .choice_box {border:3px solid #d6ecfa; padding:10px; overflow:hidden;}
.resume_modify .choice_box li {float:left;}
.resume_modify .choice_box label {margin-right:10px;}
.resume_modify .choice_box input[type="checkbox"] {width:14px; height:14px; margin:0 3px 3px 0; text-align:center; background:#fff; padding-left:1px;}
.resume_modify dl {display:flex; margin:5px 0; align-items:center;}
.resume_modify dl dt {width:200px; line-height:30px;}
.resume_modify dl dt i {display:none;}
.resume_modify dl dd {width:100%;}
.resume_modify .add_exam {border-top:1px solid #ddd; padding-top:10px; margin-top:10px;}
.resume_modify .scroll_box {width:100%; height:100px; border:1px solid #ddd; overflow-y:scroll;}
.resume_modify p.my_img {position:relative; display:inline-block; width:100px; height:121px;  border:1px solid #eaeaea; background:#f6f6f6 url("../images/no_imgicon.png") center center no-repeat; background-size:contain; margin-top:5px;}
.resume_modify p.img span {position:absolute; top:0; right:0; display:inline-block; background:rgba(0,0,0,0.5); padding-left:0;}
.resume_modify p.img span a {display:block; width:20px; height:20px; text-align:center;}
.resume_modify p.img span i {color:#fff; font-size:15px; line-height:20px;}
.resume_modify .file li {margin-top:5px;}
.resume_modify .calling li {border:1px solid #ddd; padding:5px; border-bottom:0;}
.resume_modify .calling li:last-child {border-bottom:1px solid #ddd;}
.resume_modify .calling li a {display:block; padding:3px;}
.resume_modify .calling li a:hover {background:#f5f5f5;}

.resume_modify .title {width:100%; overflow:hidden;}
.resume_modify .title input[type="text"] {width:100%;}
.resume_modify .side_con {display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between;  position:relative;}
.resume_modify .side_con .h_right {position:absolute; right:0; top:10px; float:right; width:20%; margin:0; text-align:right;}
.resume_modify .side_con .h_right  button {position:absolute; right:0; top:0px; float:right; width:200px; margin:0;}
.resume_modify .side_con .h_right select {display:none;}
.resume_modify table th i {display:none;}

.resume_modify h5 {font-size:13px; color:#000; font-family:'NanumGothic'; margin-top:20px; overflow:hidden;}
.resume_modify h5 span {float:right;}
.resume_modify .self_intro .file {}
.resume_modify .self_intro .file li {width:100%; border:1px solid #d5d5d5; padding:.5rem; overflow:hidden;}
.resume_modify .self_intro .file li button {margin-right:1rem; float:right;}
.resume_modify .self_intro input[type="text"] {width:100%; min-height:30px; border:1px solid #d9d9d9; background:#fff; margin-top:10px;}
.resume_modify .setting td {overflow:hidden;}
.resume_modify .setting dl {float:left; width:50%; border-bottom:1px solid #dddddd; margin:0; padding:5px;}
.resume_modify .setting dl:last-child {border-bottom:0; padding-bottom:0}
.resume_modify .setting dl:nth-child(1),
.resume_modify .setting dl:nth-child(2) {padding-top:0;}
.resume_modify .setting dl dt {width:20%; font-weight:500;}
.resume_modify .setting dl dd {width:80%;}
.resume_modify .setting ul li {float:left; margin-right:20px;}

/*환경설정>기본정본설정*/
.config_index .c_textarea textarea {width:300px; height:100px; display:inline-block;}
.config_index .c_textarea span {display:inline-block;}


/*환경설정>지도설정*/
.map_setting .map_boxwrap {display:flex; justify-content:space-between; margin:10px auto;}
.map_setting .map_imgbox {border:1px solid #ddd; width:48%;}
.map_setting .map_infobox {width:48%; line-height:22px; letter-spacing:-0.5px;}

/*디자인관리>사이트디자인설정*/
.design_index .color_choice img {width:5%; height:20px;}

/*디자인관리>사이트로고설정*/
.logo_set .logo_wrap_box {display:flex;}
.logo_set .logo_regist {float:left; width:48%; margin-right:20px;}
.logo_set .logo_regist p {background:#fff; text-align:center; padding:20px; border:1px solid #d8e3eb}
.logo_set .logo_regist table th {font-size:12px;}
.logo_set .logo_regist input[type="file"] {height:26px;font-weight:normal; }
.logo_set .logo_regist button {font-weight:bold;}

/*디자인관리>채용공고기본로고*/
.basic_logo input[type="file"] {height:26px;font-weight:normal;  vertical-align:bottom;}
.basic_logo button {font-weight:bold;}
.basic_logo .logo1 img {border:1px solid #ddd; max-width:400px; max-height:120px;}
.basic_logo .logo2 img {border:1px solid #ddd; max-width:400px; max-height:168px;}

/*디자인관리>배너관리*/
.banner_manage .ass_list button {margin:0px 6px 0px 0px !important; font-size:11px; font-weight:normal; padding:0px 3px;}
.banner_manage .ass_list table th::before {display:none;}
.banner_manage p span {background:#999; color:#fff !important; padding:2px !important; font-size:12px !important;}

/*결제관리 > 세금계산서신청내역*/
.tax_modify th {width:10%}
.tax_modify th i::before {content:"*"; color:#158fe7; font-weight:bold;}
.tax_modify td.phone input[type="text"] {width:10%;}
.tax_modify input[type="text"] {width:20%}

/*게시판관리>게시판관리*/
.board_index .category_wrap .category {width:48%}

/*통계관리 > 접속통계*/
.statistics_index ol {padding:15px;}
.statistics_index ol li {list-style:auto; width:100%; font-weight:bold;}
.statistics_index ol li dl {overflow:hidden;}
.statistics_index ol li dl dt {float:left; width:85%;}
.statistics_index ol li dl dd {float:right; width:15%; text-align:right;}

/*브랜드채용관리 > 브랜드리스트*/
.brand_list .table4 td img {max-width:150px;}


/*배너등록 레이어 팝업화면*/
.layer_pop {position:fixed; left:559px; top:10%; width:785px; border:3px solid #158fe7; background:#fff; max-height:700px; overflow-y:scroll;}
.layer_pop .text_info {background:#f9f9f9; font-size:13px; color:#666; border:1px solid #ddd; padding:10px 15px; line-height:18px; margin-top:10px;}
.layer_pop input[type="file"] {margin-top:10px; border:1px solid #ddd; width:100%;}
.pop_btn {width:100%; display:flex; justify-content:center; margin-top:10px;}
.pop_btn button {padding:5px 10px; margin:0 8px;}
.pop_btn button.blue {font-weight:bold; text-shadow:0px 0px 2px rgba(0,0,0,1)}
.layer_pop2 {position:absolute; left:559px; top:7%; width:1050px; border:3px solid #158fe7; background:#fff;}



/*footer*/
footer {background:#363A3D; font:11px 'Tahoma'; color:#6d747a; height:30px; line-height:30px; text-align:center; box-shadow:-1px -5px 10px 0px #222 inset;}
footer span {color:#fff; font-weight:bold;}


@media all and (max-width:1350px) {
header .update ul li a {width:auto; max-width:180px;}
}